<mat-card>
  <mat-toolbar color="primary">
    <span>Nested Forms</span>
  </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="group">
      <table>
        <tr>
          <td>
            <mat-form-field compact>
              <mat-label>First Name</mat-label>
              <input formControlName="firstName" matInput required>
              <mat-error matErrorMessaging></mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field compact>
              <mat-label>Last Name</mat-label>
              <input formControlName="lastName" matInput required>
              <mat-error matErrorMessaging></mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <mat-form-field compact>
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput>
              <mat-error matErrorMessaging></mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td style="padding: 1rem 0;">
            <app-address-form [addressGroup]="addressGroup"></app-address-form>
          </td>
          <td>
            <app-medical-form [medicalGroup]="medicalGroup"></app-medical-form>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button (click)="reset()" mat-stroked-button>Cancel</button>
    <button (click)="save()" color="primary" mat-flat-button>Save</button>
  </mat-card-actions>
</mat-card>
